body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #454545;
}

.botao {
  position: relative;
  display: inline-block;
}

.botao-redondo {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-redondo:hover {
  background-color: #fff;
}

.botao-redondo::before {
  content: "";
  position: absolute;
  top: -5.5rem;
  /* Ajuste a posição para eliminar o espaço */
  left: -5.5rem;
  /* Ajuste a posição para eliminar o espaço */
  width: 100%;
  /* Use 100% para cobrir completamente o botão */
  height: 100%;
  /* Use 100% para cobrir completamente o botão */
  border: 5.5rem solid #24262f;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.botao-redondo:hover::before {
  opacity: 1;
}