$color-primary: #fff !default;
$color-secondary: #d0d6f9 !default;
$color-background: #0b0d17 !default;
// cores
$font-barlow: "Barlow", sans-serif;
$font-barlow-condensed: "Barlow Condensed", sans-serif;
$font-bellefair: "Bellefair", serif;
